---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<a href="/">Home</a>
		<br/>
		<a href="/about/">About</a>

		<h1>My Astro Site</h1>
		<h1>About Me</h1>
	  
		<p>Howdy! I'm a proud Texan, an engineer by profession, and an enthusiast in everything I do. My passion lies in building robust solutions on the AWS Cloud as both an AWS Developer and Site Reliability Engineer.</p>
	  
		<p>When I'm not in the cloud, you can find me exploring the skies with drones, cherishing moments with my wonderful family, and enjoying the companionship of our four-legged friends.</p>
	  
		<p>This site is more than just pages and code; it's a reflection of my journey and interests. Join me as I navigate through the vast realms of technology, AWS, and beyond!</p>
	  </body>
	  
</html>
