---
const platform = "github";
const username = "si3mshady";
import Social from "./Social.astro";
---


<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
  
<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="linkedin" username="/in/elliott-a-b82ba749" />
  <Social platform="youtube" username="/channel/UCe8mY-sohCnU9zD2-H1_AUg" />

</footer>


